/vendor/
/node_modules/
/dnorte-core/vendor/
/dnorte-theme/vendor/
/dnorte-theme/dist/
/dist/
/*.zip
.DS_Store
.phpunit.cache/
.phpunit.result.cache
/storage/logs/*
!/storage/logs/.gitkeep
/tools/wp-tests/wordpress-develop/
/tools/wp-tests/wordpress-site/
/tools/wp-dev/
wp-tests-config.php
*.log
.env
.env.local
